body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

.background {
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: none;
  position: fixed;
  object-fit: cover;
  z-index: -1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 500ms ease-in-out;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 50px 20px;
  margin-top: -50px;
}

.container div {
  border: 1px solid #fff;
  padding: 20px;
  margin: 10px 0;
  width: 80%;
  max-width: 800px;
}

h1,
legend {
  font-size: 1.5em;
  margin: 0.5em 0;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 0.5em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 3px;
}

input[type="checkbox"]:checked + label {
  background-color: #ff0000;
}

input[type="checkbox"] + label::after {
  content: "";
  display: none;
}

input[type="checkbox"] + label::before {
  content: " ";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 2px;
  position: relative;
  top: 2px;
  left: 2px;
}

input[type="checkbox"]:checked + label::before {
  background-color: #fff;
}

input[type="checkbox"]:disabled + label {
  background-color: #eee;
  cursor: not-allowed;
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.order-button-container {
  text-align: center;
  margin-top: -30px;
  margin-bottom: 20px;
}

.order-button {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 15px 40px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.order-button:hover {
  background-color: #d63600;
}
